.titulo-material{
    background: #07889b;
    text-align: center;
    width: 80vw;
    height: 10vh;
}

.card-img-top{
    padding: 8px;
    width: 6rem;
    height: 10rem;
}
.container-card-tutorials{
    justify-content: center;

}
.card-flex{
    display: flex;
    
}
.card-flex > div{
    flex:50%;
    margin: 10px;
    padding: 2px;
}

@media (max-width: 800px) {
    .card-flex {
        flex: 100%;
        flex-wrap: wrap;
    }
    .card-title{
        font-size:10px;
    }
    .card-body a{
        font-size:8px;
    }
    .card-img-top img{
        width: 4rem;
        /*height: 4rem;*/
    }
}